.bg {
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

/*Custom sized pictures and it's okay that it isn't the same size as the box because it's not a grid*/
/*Stand up, about me*/
#sug {
    height: 400px;
}



/*When screen is less than 768px the following occurs*/
@media only screen and (max-width:768px) {
    #sug {
        height: 200px;
    }

    /*Calvin and hobbes on default*/
    #candh {
        max-height: 200px;
    }
}