#bg {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

#infocontainer {
  width: fit-content;
  height: fit-content;
  border-radius: 10%;
  top: 25vh;
  position: absolute;
  left: 25vw;
  background-color: rgba(213, 213, 213, .85);
  font-family: "Times New Roman", Times, serif;
}


#info {
  margin-left: 2.5vw;
  margin-top: 5vh;
  margin-bottom: 2.5vw;
  width: 45vw;
  min-height: 40vh;
  position: relative;
}

@media (max-width: 800px) {
  #infocontainer {
    top: 5vh;
    margin-left: 10vw;
    text-align: center;
  }

  #info {
    margin-left: 0vw;
    margin-top: 5vh;
    margin-bottom: 2.5vw;
    width: 55vw;
    min-height: 40vh;
    position: relative;
  }

  #profimg {
    height: 52vw;
    width: 39vw;
  }
}