* {
  margin: 0;
}

#bg {
  background-position: center right;
}

#welcome {
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  /*Opaque gaisboro*/
  background-color: rgba(220, 220, 220, 0.9);
  border: none;
}

#welcome h1 {
  font-size: 10vw;
  color: white;
}

#welcome h2 {
  font-size: 2.5vw;
}

@media (max-width: 850px) {
  #welcome h2 {
    left: 0;
    margin: auto;
    font-size: 4vw;
  }

}