#bar {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

#homebtn {
    position: fixed;
    z-index: 1;
    right: 5px;
    top: 5px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.item {
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: white;
    width: min(8vw, 18vh);
    height: min(8vw, 18vh);
    text-align: center;
}

.link :hover {
    background-color: gainsboro;
    width: min(9vw, 20vh);
}

#about {
    position: relative;
}

.item img {
    margin: 0 auto;
    max-height: 12vh;
    max-width: 4vw;
    pointer-events: none;
}

.link h2 {
    font-size: min(2vw, 5vh);
    margin: 0 auto;
    color: black;
    pointer-events: none;
    width: min(8vw, 18vh)
}

.link h2 :hover {
    width: min(8vw, 18vh)
}

.link {
    text-decoration: none;
}

#desktop {
    /*Social bar is fixed in bottom right, and is a row. Does not usual official row class because those are intded to be used in outerbox so they are centered.*/
    position: fixed;
    right: 10px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    /*Puts gaps between items*/
    gap: 5px;
    /* Centers child elements horizontally */
    justify-content: center;
    /* Centers child elements vertically */
    align-items: center;
}

/*Social images are 20 pixels tall with rounded corners, no border, and no margins to be small*/
#social img {
    width: 40px;
    height: auto;
    border: none;
    border-radius: 5%;
    margin: 0px;
}


/*Custom Sizing for view background*/
#viewbg {
    width: min(3vw, 6vh);
    height: min(3vw, 6vh);
    font-size: min(.75vw, 2vh);
    border: 2px solid black;
}

/*Changes color of circle, which for some reason also requires height and width*/
#viewbg:hover {
    width: min(3vw, 6vh);
    height: min(3vw, 6vh);
    background-color: gainsboro;
}



@media only screen and (max-width:768px) {

    /*Moves bar over*/
    #bar {
        position: fixed;
        margin-left: 5px;
    }

    /*Hides Social*/
    #desktop {
        display: none;
    }
}