#bar {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

#homebtn {
    position: fixed;
    z-index: 1;
    right: 5px;
    top: 5px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.item {
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: white;
    width: min(8vw, 18vh);
    height: min(8vw, 18vh);
}

.link :hover {
    background-color: gainsboro;
    width: min(9vw, 20vh);
}

#about {
    position: relative;
}

.item img {
    margin: 0 auto;
    max-height: 12vh;
    max-width: 4vw;
    pointer-events: none;
}

.link h2 {
    font-size: min(2vw, 5vh);
    text-align: center;
    margin: 0 auto;
    color: black;
    pointer-events: none;
    width: min(8vw, 18vh)
}

.link h2 :hover {
    width: min(8vw, 18vh)
}

.link {
    text-decoration: none;
}

@media only screen and (max-width:768px) {
    #bar {
        position: fixed;
        margin-left: 5px;
    }
}