* {
    margin: 0;
}

#bg {
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#gridcont {
    margin-left: 12vw;
    font-family: "Times New Roman", Times, serif;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    width: 50vw;
    margin: auto;
    padding: 10px;
}

.box {
    color: black;
    position: relative;
    height: 40vh;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: gainsboro;
    border-radius: 10px;
    width: 20vw;
    min-width: 172px;
    text-align: center;
    align-items: center;
    padding: 2px;
    text-decoration: none;
}

.box img {
    max-height: 18vh;
}

.box h2 {
    font-size: 3.5vh;
}

.box p {
    font-size: 2.5vh;
    width: 18vw;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
}

@media only screen and (max-width:768px) {
    .box {
        height: fit-content;
        width: fit-content;
        box-sizing: content-box;
    }

    .box img {
        max-height: 15vh;
    }

    .box h2 {
        max-height: 8vh;
    }

    .box p {
        width: 27vw;
    }
}