.metextcontent {
  display: flex;
  justify-content: left;
  text-align: left;
  border-radius: 10px;
  width: 37.5vw;
  height: fit-content;
  font-size: 15px;
  margin-top: 2vh;
  margin-left: 1%;
  margin-bottom: 2vh;
}

next {
  display: inline;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}