#bar{
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}

.item{
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background-color: white;
    width: min(10vw,20vh);
    height: min(10vw,20vh);
}
#about{
    position: relative;
}
.picture{
    margin: 0 auto;
    max-height: 12vh;
    max-width: 4vw;
}

.link h2 {
    font-size:min(3vw,6vh);
    text-align: center;
    margin: 0 auto;
    color: black;
}

.link{
    text-decoration: none;
}